@import "tailwindcss";

:root {
  --logo: #050f38;
  --bg-body: #f8f9fa;
  --header-content: #fdf3df;
  --bg-profile-header: #d6c49e;
  --middle-content-1: #e6eae3;
  --middle-content-2: #e0f0f1;
  --footer-content: #fef4e0;
  --bg-profile-footer: #bfddde;
  --font-jakarta-sans: var(--font-plus-jakarta-sans);
}

@theme inline {
  --font-sans: var(--font-jakarta-sans);
  --color-main-color: var(--logo);
  --color-main-white: var(--bg-body);
  --color-header-content: var(--header-content);
  --color-profile-header: var(--bg-profile-header);
}

body {
  font-family: var(--font-sans), sans-serif;
}
